<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <header class="header-main">
            <a href="https://les-tilleuls.coop">
                <img class="logo" src="{{ asset('/assets/logotilleuls.png') }}" />
            </a>
        </header>
        <div class="main">
            {% block body %}{% endblock %}
        </div>
        <footer class="footer has-background-dark has-text-light">
            <div class="content has-text-centered">
                <p>Code by <a href="https://dunglas.fr">Kévin Dunglas</a> - Web design by <a href="https://github.com/dunglas/mercure">Laury Sorriaux</a> - <a href="https://github.com/dunglas/symfonycon-lisbon">Sources</a></p>
            </div>
        </footer>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
