<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <header class="header-main">
            <img class="logo" src="/assets/logotilleuls.png" />
        </header>
        <div class="main">
            {% block body %}{% endblock %}
        </div>
        <footer class="footer has-background-dark has-text-light">
            <div class="content has-text-centered">
            <p>Texte du footer</p>
            </div>
        </footer>
        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
